.score {
    padding: 20;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    text-align: center;
}

@media (max-width: 960px) {
    .score {
        font-size: 1.4rem;
    }
}

@media (max-width: 6200px) {
    .score {
        font-size: 1.2rem;
    }
}